{% extends "templates/layout-de.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/de/products/super-booster-2000/equipment/"/>
    <title>Ausrüstung | Rohrausklinker | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
    {% include "vectors/arrow-right.sym" %}
    {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
    <main>
        <article class="gap-top preview-list">
            <header class="gap-top gap-bottom-medium">
                <nav class="breadcrumbs">
                    <span>
                        <a href="/de/" title="Homepage">
                            <svg class="home icon">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/de/products/">Produkte</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/de/products/super-booster-2000/">Super Booster 2000</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <a href="/de/products/super-booster-2000/equipment/">
                        <b>Ausstattung</b>
                    </a>
                </nav>
                <h1>Ausrüstung für Super Booster 2000</h1>
            </header>

            <section>
                <h2>
                    <a href="metal-sheets/" title="Super Booster 2000">Laser geschnittene Bleche</a>
                </h2>
                <h4>Komponenten für den Bau von Rohrausklinkern - Super Booster 2000</h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            In diesem Angebot finden Sie nur mit CNC-Laser ausgeschnittene Bleche. Diese Teile sind am schwierigsten herzustellen und gleichzeitig notwendig für den Bau einer Rohrstanzmaschine. Durch den Kauf der Bleche selbst können wir Geld sparen und die restlichen Elemente selbst herstellen ;)
                        </p>
                        <p class="single-out-link">
                            <a href="metal-sheets/" title="Super Booster 2000">Weitere Informationen...</a>
                        </p>
                    </div>
                    <div>
                        <a class="image-loading" href="metal-sheets/" title="Super Booster 2000">
                            <img src="/assets/images/super-booster-2000/equipment/metal-sheet/detail1-w1120.jpg" alt="Super Booster 2000"/>
                        </a>
                    </div>
                </div>
            </section>

            {# <section class="gap-top">
                <h2>
                    <a href="flat-holdfast/" title="Super Booster 2000">Flat holdfast</a>
                </h2>
                <h4>Flachhalterung für Rohrausklinker Super Booster 2000</h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            Der Standard ist der Druck mit&#32;<q>Dreiecken</q>&#32;mit denen wir sowohl Rohre als auch Profile fixieren können. Wenn wir jedoch sehr oft Profile fixieren wollen, ist die Erweiterung des Sets mit&#32;<q>Flachpressung</q>&#32;eine gute Lösung.
                        </p>
                        <p class="single-out-link">
                            <a href="flat-holdfast/" title="Super Booster 2000">Weitere Informationen...</a>
                        </p>
                    </div>
                    <div>
                        <a class="image-loading ratio4to3" href="flat-holdfast/" title="Super Booster 2000">
                            <img src="/assets/images/super-booster-2000/ausruestung/detail1-w1120.jpg" alt="flach-fest"/>
                        </a>
                    </div>
                </div>
            </section> #}
        </article>
    </main>
{% endblock %}