{% extends "templates/layout-de.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/de/products/super-booster-2000/equipment/flat-holdfast/"/>
    <title>Flachdruck | Geräte | Rohrschneider | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
    {% include "vectors/arrow-right.sym" %}
    {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
    <main>
        <article>
            <header class="gap-top">
                <nav class="breadcrumbs">
                    <span>
                        <a href="/de/" title="Homepage">
                            <svg class="home icon">
                                <use xlink:href="#icon-home"></use>
                            </svg>
                        </a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/de/products/">Produkte</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/de/products/super-booster-2000/">Super Booster 2000</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <span>
                        <a href="/de/products/super-booster-2000/ausruestung/">Ausruestung</a>
                        <svg class="icon">
                            <use xlink:href="#icon-arrow-right"></use>
                        </svg>
                    </span>
                    <a href="/de/products/super-booster-2000/equipment/flat-holdfast/">
                        <b>Flache Haltevorrichtung</b>
                    </a>
                </nav>
                <h1>Rohrzange - Super Booster 2000 - Zubehör</h1>
            </header>
            <section class="gap-top">
                <h2>Flache Haltevorrichtung</h2>
                <p>Der Standard ist der Druck mit&#32;<q>Dreiecken</q>, mit denen wir sowohl Rohre als auch Profile fixieren können. Wenn wir jedoch sehr oft Profile fixieren wollen, ist die Erweiterung des Sets mit&#32;<q>Flachhaltern</q>&#32;eine gute Lösung.</p>
                <div class="row gap-top">
                    <div>
                        <div class="image-loading ratio4to3">
                            <img src="/assets/images/super-booster-2000/ausruestung/detail1-w1120.jpg" alt="flat-holdfast">
                        </div>
                    </div>
                    <div>
                        <p>Der Flachbettdruck besteht aus zwei Elementen, die für die Montage vorbereitet sind: auf Maß geschnitten, mit bearbeiteten Kanten und einer Bohrung. Sie müssen nur noch zusammengeschweißt werden.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="image-loading ratio4to3">
                            <img src="/assets/images/super-booster-2000/equipment/detail2-w1120.jpg" alt="Rohrausklinker mit Flachhalter">
                        </div>
                    </div>
                    <div>
                        <p>Der Flachdruck ist kompatibel mit der Schraube (hat ein Montageloch mit dem gleichen Durchmesser).</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="image-loading ratio4to3">
                            <img src="/assets/images/super-booster-2000/equipment/detail3-w1120.jpg" alt="Quadratisches Profil">
                        </div>
                    </div>
                    <div>
                        <p>Die Verwendung einer flachen Druckplatte minimiert das Risiko von falsch befestigten Profilen.</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="image-loading ratio4to3">
                            <img src="/assets/images/super-booster-2000/equipment/detail4-w1120.jpg" alt="Profil zwischen den Maschinenprismen">
                        </div>
                    </div>
                    <div>
                        <p>Dank des Prismas positioniert sich unser Profil automatisch zur Achse.</p>
                    </div>
                </div>
            </section>
        </article>
    </main>
{% endblock %}