{% extends "templates/layout-de.njk" %}
{% set tab = "products" %}

{% block meta %}
    <link rel="canonical" href="https://patryktrajder.com/de/products/"/>
    <title>Produkte | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
    {% include "vectors/arrow-right.sym" %}
    {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
    <main>
        <nav class="breadcrumbs gap-top">
            <span>
                <a href="/de/" title="Homepage">
                    <svg class="home icon">
                        <use xlink:href="#icon-home"></use>
                    </svg>
                </a>
                <svg class="icon">
                    <use xlink:href="#icon-arrow-right"></use>
                </svg>
            </span>
            <a href="/de/products/">
                <b>Produkte</b>
            </a>
        </nav>
        

      <article id="diy-tools" class="gap-top preview-list">
      {# <h1 class="gap-bottom-medium centered-text">Produkte</h1> #}

{% from "components/product-card-de.njk" import productCardDe %}

{% set productOrderDe = [
  "TN01",
  "dWT04",
  "dWT02",
  "dWT01",
  "dWT03",
  "dWT05",
  "dWTA01",
  "dWTA02",
  "dWS02",
  "dWS01",
  "dWTA03"
] %}

<div class="product-cards-container">
  {% for productCode in productOrderDe %}
    {% set product = productsDe[productCode] %}

    {% if product %}
      {{ productCardDe(product) }}
    {% else %}
      {# Missing product in productsDe.json: {{ productCode }} #}
    {% endif %}
  {% endfor %}
</div>



    </article>

       {#
            <section>
                <h2>
                    <a href="super-booster-2000/" title="Super Booster 200">Rohrausklinker - Super Booster 2000</a>
                </h2>
                <h4>Rohr-/Profil-Lochsäge - Modellbausatz zur Montage</h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            Sind Sie, wie ich, ein großer Fan der Rohr-/Profilbearbeitung zum Schweißen? Basteln Sie gerne, bauen Sie gerne Buggys, Go-Karts, Geländer oder andere Konstellationen aus Rohren oder Profilen? Wenn ja, dann möchte ich Ihnen ein Gerät vorstellen, das Ihnen die Arbeit wirklich erleichtern kann 😉.
                        </p>
                        <p class="single-out-link">
                            <a href="super-booster-2000/" title="Super Booster 200">Mehr Informationen...</a>
                        </p>
                    </div>
                    <div>
                        <a class="image-loading" href="super-booster-2000/" title="Super Booster 200">
                            <img src="/assets/images/super-booster-2000/thumb-w1120.jpg" alt="Super Booster 2000"/>
                        </a>
                    </div>
                </div>
            </section> #}
        </article>


        {# <article id="diy-projects" class="gap-top-large">
            <h1>
                DIY projects
            </h1>
            <section>
                <h2>
                    <a href="/en-gb/products/WeldingTable_2400x1200_MateuszDoniec/" title="Super Booster 2000">Welding Table Build Plans 2400x1200 (System Ø28)</a>
                </h2>
                <h4>Project: Mateusz Doniec</h4>
                <div class="row gap-top">
                    <div>
                        <p>
                            Tired of welding on uneven floors or makeshift benches where nothing stays square? Do the prices of professional 2400x1200 tables blow your mind? If so, I’ve teamed up with a technologist to create complete build plans that will completely level up your workshop game 😉"
                        </p>
                        <p class="single-out-link">
                            <a href="/en-gb/products/WeldingTable_2400x1200_MateuszDoniec/" title="Super Booster 2000">More information...</a>
                        </p>
                    </div>
                    <div>
                        <a class="image-loading" href="/en-gb/products/WeldingTable_2400x1200_MateuszDoniec/" title="Super Booster 2000">
                            <img src="/assets/images/WeldingTable_2400x1200_MateuszDoniec/thumb-w1120.jpg" alt="Super Booster 2000"/>
                        </a>
                    </div>
                </div>
            </section>
        </article> #}
    </main>
{% endblock %}