{% extends "templates/layout.njk" %}
{% set tab = "home" %}

{% block meta %}
  <link rel="canonical" href="https://patryktrajder.com/"/>
  <title>Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
  {% include "vectors/arrow-left.sym" %}
  {% include "vectors/arrow-right.sym" %}
{% endblock %}

{% block body %}

<div class="banner sliding-banner">
  <div class="container slider">
    <div class="wrapper">
      <div class="items">
        
        <div class="parallax-section" 
             style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('/assets/images/banner1-h730.jpg'); 
                    height: 550px; 
                    width: 100vw; 
                    background-position: 90% center;">
          <div class="parallax-content" style="--h2-pc: 70px; --p-pc: 28px; --h2-mob: 35px; --p-mob: 18px;">
            <h2>TRAJDER<sup>&copy;</sup></h2>
            <p>Stół, który trzyma kąty za Ciebie</p>
          </div>
        </div>

        <div class="parallax-section" 
             style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url('/assets/images/super-booster-2000/thumb-w1120.jpg'); 
                    height: 550px; 
                    width: 100vw; 
                    background-position: 50% center;">
          <div class="parallax-content" style="--h2-pc: 70px; --p-pc: 28px; --h2-mob: 35px; --p-mob: 22px;">
            <h2>PIRANHA NOTCHER</h2>
            <p>Precyzyjne wycięcia w rurach w kilka sekund</p>
          </div>
        </div>

      </div>
    </div>

    <ul></ul>
    <button class="arrow left" aria-label="Previous slide">
      <svg class="icon"><use xlink:href="#icon-arrow-left"></use></svg>
    </button>
    <button class="arrow right" aria-label="Next slide">
      <svg class="icon"><use xlink:href="#icon-arrow-right"></use></svg>
    </button>
  </div>
</div>
  {# <div class="banner sliding-banner"> 
    <div class="container slider">
      <div class="wrapper">
        <div class="items">
          <div class="image-placeholder" style="padding-top: 38.020833333%;">
            <img draggable="false" src="/assets/images/banner1-h730.jpg" alt="Pierwszy slajd"/>
          </div>
          <div class="image-placeholder" style="padding-top: 38.020833333%;">
            <img draggable="false" src="/assets/images/banner2-h730.jpg" alt="Drugi slajd"/>
          </div>
        </div>
      </div>
      <ul></ul>
      <button class="arrow left" aria-label="Previous slide">
        <svg class="icon">
          <use xlink:href="#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="arrow right" aria-label="Next slide">
        <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div> #}

  <main>
    <article class="centered-text gap-top-medium">
      <section>
        <h1>Pokrótce o kanale</h1>
        <p>
          Głównym założeniem kanału jest prowadzenie serii z szalonymi wynalazkami i eksperymentami. Chciałem stworzyć fajny warsztat, ale nie mogłem sobie pozwolić na zakup drogiego sprzętu w tak młodym wieku (zaczynałem mając 14 lat). Postanowiłem więc zbudować go sam. Można powiedzieć, że jest to trochę półśrodek do celu. Jednak na tyle spodobało mi się tworzenie własnych narzędzi, że nie zamierzam od tego odchodzić i na moim kanale znajdziecie zarazem szalone wynalazki, jak i budowę narzędzi, które wykorzystuję w innych seriach. Serię z budowy narzędzi możecie obejrzeć tutaj:
        </p>
        <div class="yt-video">
          <div>
            <iframe src="https://www.youtube-nocookie.com/embed/a3s6aUMMPb8?rel=0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen" title="Mobilny agregat hydrauliczny - budowa"></iframe>
          </div>
        </div>
        <p>
          Jeśli chodzi o&#32;<q>szalone wynalazki</q>, to głowa jest pełna pomysłów, jednak dotychczas cały swój wolny czas poświęcałem na naukę nagrywania, montażu oraz budowy narzędzi. To co robię jest połączeniem moich dwóch największych pasji, czyli nagrywania oraz majsterkowania w każdym wydaniu (zarówno tym bardziej jak i mniej potrzebnym światu 😉). Jeśli chcesz dowiedzieć się więcej o mnie&#32;<a href="/about/" title="O mnie">kliknij tutaj</a>.
        </p>
      </section>
      <section class="gap-top-medium">
        <h1>Najnowsze Produkty</h1>
        <div class="regular slider">
          <div class="wrapper">
            <div class="items">
              <div class="card">
                <div>
                  <a class="thumb image-loading" draggable="false" href="/products/super-booster-2000/" title="Super Booster 2000">
                    <img draggable="false" src="/assets/images/super-booster-2000/thumb-w320.jpg" alt="Super Booster 2000">
                  </a>
                  <div class="container">
                    <h4>
                      <a draggable="false" href="/products/super-booster-2000/" title="Super Booster 2000">Super Booster 2000</a>
                    </h4>
                    <h5>Czy podobnie jak ja nie przepadasz za obróbką rur/profili pod spawanie? Lubisz majsterkować, budujesz buggy, gokarta, barierki, balustrady lub jakąkolwiek konstrkcję z rur czy profili? Jeśli tak, to chciałbym przedstawić Tobie urządzenie, które naprawdę może ułatwić pracę 😉</h5>
                    <div><hr></div>
                    <a class="link" draggable="false" href="/products/super-booster-2000/" title="Super Booster 2000">Przejdź do oferty</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="placeholder tmp" style="background: #f98525;">
                  <div style="display: flex; align-items: center; height: 100%;">
                    <p style="width: 100%;">Wkrótce więcej produktów...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="arrow left" aria-label="Previous slide">
            <svg class="icon">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="arrow right" aria-label="Next slide">
            <svg class="icon">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </section>
      <section class="gap-top-medium">
        <h1>Najnowsze Poradniki</h1>
        <div class="regular slider">
          <div class="wrapper">
            <div class="items">
              <div class="card">
                <div>
                  <a class="thumb image-loading" draggable="false" href="projects/hydraulic-cylinder/" title="Jak zbudować siłownik hydrauliczny"><img draggable="false" src="/assets/images/projects/hydraulic-cylinder/thumb-w320.jpg" alt="jak zbudować siłownik hydrauliczny"/></a>
                  <div class="container">
                    <h4>
                      <a draggable="false" href="projects/hydraulic-cylinder/" title="Jak zbudować siłownik hydrauliczny">Jak zbudować siłownik hydrauliczny</a>
                    </h4>
                    <h5>Sprawdź jak zrobić siłownik hydrauliczny. Wykorzystam go do mojej prasy oraz wielu innych urządzeń związanych z hydrauliką, które mam nadzieję w przyszłości zbuduję. ;)</h5>
                    <div><hr></div>
                    <a class="link" draggable="false" href="projects/hydraulic-cylinder/" title="Jak zbudować siłownik hydrauliczny">Przejdź do artykułu</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div>
                  <a class="thumb image-loading" draggable="false" href="projects/hydraulic-power-pack/" title="Mobilny agregat hydrauliczny"><img draggable="false" src="/assets/images/projects/hydraulic-power-pack/thumb-w320.jpg" alt="Mobilny agregat hydrauliczny"></a>
                  <div class="container">
                    <h4>
                      <a draggable="false" href="projects/hydraulic-power-pack/" title="Mobilny agregat hydrauliczny">Hydraulic Power Pack</a>
                    </h4>
                    <h5>Sprawdz jak zrobić mobilny agregat hydrauliczny. Wykorzystam go do mojej prasy oraz wielu innych urządzeń związanych z hydrauliką które mam nadzieje w przyszłości zbuduje. Większość elementów takich jak: stal, silnik elektryczny, rozdzielacz pochodzą ze złomu, co pozwoliło na obniżenie kosztów budowy do minimum ;)</h5>
                    <div><hr></div>
                    <a class="link" draggable="false" href="projects/hydraulic-power-pack/" title="Mobilny agregat hydrauliczny">Przejdź do artykułu</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="placeholder tmp">
                  <div style="display: flex; align-items: center; height: 100%;">
                    <p style="width: 100%;">Wkrótce więcej projektów...</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="arrow left" aria-label="Previous slide">
            <svg class="icon">
              <use xlink:href="#icon-arrow-left"></use>
            </svg>
          </button>
          <button class="arrow right" aria-label="Next slide">
            <svg class="icon">
              <use xlink:href="#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </section>
    </article>
  </main>
{% endblock %}