{% extends "templates/layout.njk" %}
{% set tab = "products" %}

{% block meta %}
  <link rel="canonical" href="https://patryktrajder.com/products/"/>
  <title>Sklep | Patryk Trajder</title>
{% endblock meta %}

{% block vectors %}
  {% include "vectors/arrow-right.sym" %}
  {% include "vectors/home.sym" %}
{% endblock %}

{% block body %}
  {# <div class="banner">
    <div class="container">
      <div class="image-placeholder" style="padding-top: 25.104166666%;">
        <img src="/assets/images/products-banner-w1920.jpg" srcset="/assets/images/products-banner-w768.jpg 768w, /assets/images/products-banner-w1920.jpg 1920w" alt="Narzędzia na ścianie warsztatu"/>
      </div>
    </div>
  </div> #}

  <main>
    <nav class="breadcrumbs gap-top">
      <span>
        <a href="/" title="Strona główna">
          <svg class="home icon">
            <use xlink:href="#icon-home"></use>
          </svg>
        </a>
        <svg class="icon">
          <use xlink:href="#icon-arrow-right"></use>
        </svg>
      </span>
      <a href="/products/">
        <b>Sklep</b>
      </a>
    </nav>

    <article id="diy-tools" class="gap-top preview-list">

  {% from "components/product-card-pl.njk" import productCardPl %}

      {% set productOrderPl = [
        "TN01",
        "dWT04",
        "dWT02",
        "dWT01",
        "dWT03",
        "dWTA01",
        "dWTA02",
        "dWS02",
        "dWS01",
        "dWTA03"
      ] %}

      <div class="product-cards-container">
        {% for productCode in productOrderPl %}
          {% set product = productsPl[productCode] %}

          {% if product %}
            {{ productCardPl(product) }}
          {% endif %}
        {% endfor %}
      </div>
    </article>









<!--
BADGE / PLAKIETKI NA ZDJĘCIACH PRODUKTÓW

CO ROBIĄ:
- pokazują typ produktu
- opcjonalnie pokazują wyróżnienie marketingowe

GDZIE WKLEJAĆ:
- wewnątrz <a class="product-image-link">
- nad <img>

POZYCJE:
- product-badge-wrap--right = prawa strona
- product-badge-wrap--left = lewa strona

DOSTĘPNE BADGE:
- product-badge--physical   = produkt fizyczny
- product-badge--pdf        = PDF
- product-badge--pdf-dxf    = PDF + DXF
- product-badge--bestseller = Bestseller

PRZYKŁAD 1: PHYSICAL PRODUCT
<span class="product-badge-wrap product-badge-wrap--right">
  <span class="product-badge product-badge--physical">Physical product</span>
</span>

PRZYKŁAD 2: PDF
<span class="product-badge-wrap product-badge-wrap--right">
  <span class="product-badge product-badge--pdf">PDF</span>
</span>

PRZYKŁAD 3: PDF + DXF
<span class="product-badge-wrap product-badge-wrap--right">
  <span class="product-badge product-badge--pdf-dxf">PDF + DXF</span>
</span>

PRZYKŁAD 4: BESTSELLER
<span class="product-badge-wrap product-badge-wrap--left">
  <span class="product-badge product-badge--bestseller">Bestseller</span>
</span>

PRZYKŁAD 5: BESTSELLER + PHYSICAL PRODUCT
<span class="product-badge-wrap product-badge-wrap--left">
  <span class="product-badge product-badge--bestseller">Bestseller</span>
</span>
<span class="product-badge-wrap product-badge-wrap--right">
  <span class="product-badge product-badge--physical">Physical product</span>
</span>
-->


 </article>
</main>
{% endblock %}