{% macro productCardEn(product) %}
  <div class="product-card">
    <a href="{{ product.url }}" class="product-image-link">
      <span class="product-badge-wrap product-badge-wrap--right">
        <span class="product-badge {{ product.badgeClass }}">{{ product.badge }}</span>
      </span>

      <img
        src="{{ product.image }}"
        alt="{{ product.alt }}"
        loading="lazy"
        decoding="async"
      />
    </a>

    <div class="product-card-content">
      <a href="{{ product.url }}" class="product-title">
        {{ product.title | safe }}
      </a>

      <div class="product-price">
        <div class="price">
          <h3>
            <span class="currency currency--before">{{ product.currency }}</span><span class="value">{{ product.price }}</span>.<span class="cents">{{ product.cents }}</span>
          </h3>
        </div>
      </div>

      <a href="{{ product.url }}" class="product-link">More information...</a>

      <div class="cart-action-row">
        <a href="{{ product.url }}" class="btn-dwt">View details</a>
      </div>
    </div>
  </div>
{% endmacro %}